<header>
  <mat-toolbar color="primary">
    <div class="row">
      <div class="col-12 navbar-container">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <a class="mat-button mat-nav-item" aria-current="page" href="#">AROUND THE WORLD</a>
        <a class="mat-button mat-nav-list" aria-current="page" href="#">Home</a>
        <a class="mat-button mat-nav-list" href="#">Visited</a>
      </div>
    </div>
  </mat-toolbar>
</header>